{% load static %}
<section id="footer">

	<div class="inner">
		<article>
			<div>
				<header>
					<h4>fale conosco</h4>
				</header>
				<ul>
					<li>
						<a href="#formulario"> wagner@wagneroliveira.eti.br </a>
					</li>
				</ul>
			</div>
		</article>

		<article>
			<div>
				<header>
					<h4>Princípios</h4>
				</header>
				<ul>
					<li>"Generosidade Mental"</li>
					<li>"Coerência Etica"</li>
					<li>"Humildade Intelectual"</li>
					<p>de Mario Sergio Cortela</p>
				</ul>
			</div>
		</article>
		<article>
			<div>
				<header>
					<h4>Redes Sociais</h4>
				</header>
				<ul class="icons">
					<li><a href="https://twitter.com/waguimoliver" class="icon fa-twitter-square"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/WagnerCOliveira" class="icon fa-github-square"><span class="label">Github</span></a></li>
					<li><a href="https://www.linkedin.com/in/wagner-oliveira-53407229/" class="icon fa-linkedin-square"><span class="label">linkedin</span></a></li>
					<li><a href="https://www.facebook.com/wagner.coliveira.16/" class="icon fa-facebook-square"><span class="label">linkedin</span></a></li>
				</ul>
			</div>
		</article>
	</div>

	<div class="hr"><hr></div>

	<div class="copyright">
			&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a> /
			<a href="https://www.wagneroliveira.eti.br">WAGNER C OLIVEIRA </a>. Images
			<a href="https://unsplash.com/">Unsplash</a> /
			<a href="https://pixabay.com/pt/">Pixarbay</a>
    </div>
</section>