{% load static %}
{% load i18n %}
<section id="three">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon fa-cogs"></span>
							<header>
								<h3>{% trans 'Automação' %}</h3>
							</header>
							<p>{% trans 'Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.' %}</p>
							<ul class="actions">
								<li><a href="#" class="button alt">{% trans 'Leia Mais' %}</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<span class="icon fa-desktop"></span>
							<header>
								<h3>{% trans 'Web Server' %}</h3>
							</header>
							<p>{% trans 'Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.' %}</p>
							<ul class="actions">
								<li><a href="#" class="button alt">{% trans 'Leia Mais' %}</a></li>
							</ul>
						</div>
					</article>
					<article>
					<div class="content">
							<span class="icon fa-laptop"></span>
							<header>
								<h3>{% trans 'Syslog' %}</h3>
							</header>
							<p>{% trans 'Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.' %}</p>
							<ul class="actions">
								<li><a href="#" class="button alt">{% trans 'Leia Mais' %}</a></li>
							</ul>
						</div>
					</article>
				</div>

</section>