{% load static %}
<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h3>Sistemas Livres</h3>
							</header>
							<div class="image fit">
								<img src="{% static 'images/pic01.jpg' %}" alt="" />
							</div>
							<p>A capacidade dele à se moldar em nossas infra estruturas, versatilidade, entre outros adjetivos, isso é o diferencial no mundo competitivo.</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3>Ciclismo</h3>
							</header>
							<div class="image fit">
								<img src="{% static 'images/pic02.jpg' %}" alt="" />
							</div>
							<p>É incrível o contato que temos com a natureza quando decidimos nos aventurar pelos caminhos que deus torna possível em cima de uma bicicleta.</p>
						</div>
					</article>
				</div>
</section>