{% load static %}
{% load i18n %}
<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h3>{% trans 'Sistemas Livres' %}</h3>
							</header>
							<div class="image fit">
								<img src="{% static 'images/pic01.jpg' %}" alt="" />
							</div>
							<p>{% trans 'A capacidade dele à se moldar em nossas infra estruturas, versatilidade, entre outros adjetivos, isso é o diferencial no mundo competitivo.' %}</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3>{% trans 'Ciclismo' %}</h3>
							</header>
							<div class="image fit">
								<img src="{% static 'images/pic02.jpg' %}" alt="" />
							</div>
							<p>{% trans 'É incrível o contato que temos com a natureza quando decidimos nos aventurar pelos caminhos que deus torna possível em cima de uma bicicleta.' %}</p>
						</div>
					</article>
				</div>
</section>